---
layout: default
---
<ul class="postList">
    {% for post in site.posts %}
        {% capture mod %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        <li class="post{% if mod == '0' %} even{% endif %}" >
            {% capture imgPath %}{{ site.baseurl }}/assets/images/{{ post.imageFolder }}/{% endcapture %}
            <figure class="postImgContainer" slideshow="{{ post.slideshow | join: ',' }}" slideshowpath="{{ imgPath }}">
                <img src="{{ site.github.url }}/assets/images/{{ post.imageFolder }}/feature.jpg" alt="">
                <figcaption class="postImgOverlay"></figcaption>
            </figure>
            <div class="postContent">
                <h2><a class="post-link" href="{{ post.siteLink }}" target="_blank">{{ post.title | escape }}</a></h2>
                <p>{{ post.content }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
