{% capture pageTitle %}{{ site.title }} - {{ page.title }}{% endcapture %}
{% include head.html title=pageTitle %}
<body>
    <header class="pageHeader">
        <a href="{{ site.url }}"><h1>{{ site.author }}</h1></a>
    </header>
    <div class="main page">
        <ul>
            <li><strong>{{ site.author }}</strong></li>
            <li>{{ site.adress.street }}</li>
            <li>{{ site.adress.town }}</li>
            <li>{{ site.email }}</li>
        </ul>
        {{ content }}
    </div>
    {% include footer.html %}
</body>
</html>
